
<div class="product_card">
    <a href="#" class="product_card__media_link">
        <picture class="product_card__picture">        
            {% if product.image != blank %}
                <img
                    width="100%"
                    height="100%"
                    src="{{ product.image |  image_url }}"
                    alt="{{ product.title }}"
                    class="product_card__img"
                >            
            {% else %}                                        
                {{ 'product-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}                            
        </picture>
    </a>

    <a href="#" class="product_card__content_link">
        <div class="product_card__price js-product-price" data-price-loading>...Loading</div>

        {%- if product.title != blank -%}
            <h3 class="product_card__title">{{ product.title | escape}}</h3>
        {%- endif -%}

        {%- if product.description != blank -%}
            <div class="product_card__description">{{ product.description |  truncate: 120 }}</div>
        {%- endif -%}
    </a>
</div>