{% render "set-sections-paddings", section_data: section %}

<style>
    #shopify-section-{{ section.id }}.marquee_products {
        background-color: {{ section.settings.section_bg_color }};
    }

    #shopify-section-{{ section.id }}.product_card__content_link {
        color: {{ section.settings.text_color }};
    }
</style>

{% if section.blocks.size > 0 %}
    <link rel="stylesheet" href="{{ 'marquee-products.css' | asset_url }}">

    <h2 class="marquee_products__title">JS variant</h2>

    <div class="marquee_products__container">
        {% if section.blocks.size != blank %}
            <div data-speed="{{ section.settings.autoplay_speed }}" class="marquee_products__wrap js-marquee-products-list">                
                {% for block in section.blocks %}
                    <div class="marquee_products__item js-marquee-item" data-product-id="{{ block.settings.product_id | escape }}">
                        {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                            <div class="marquee_products__item_in">
                                {%- render 'product-card', product: block.settings, num: num -%}
                            </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <h2 class="marquee_products__title">CSS variant</h2>
    <style>
        .marquee_products__wrap {
            animation-duration: {{ 40 | minus: section.settings.autoplay_speed }}s!important;
        }
    </style>        

    {%- unless section.settings.autoplay_speed == 0 -%}
        {%- assign wrapClass = 'marquee_products__container--css_mod' -%}
    {%- else -%}
        {%- assign wrapClass = '' -%}
    {%- endunless -%}
    
    <div class="marquee_products__container {{ wrapClass }}">
        {% if section.blocks.size != blank %}
            <div class="marquee_products__wrap js-marquee-products-list">                
                {% for block in section.blocks %}
                    <div class="marquee_products__item js-marquee-item" data-product-id="{{ block.settings.product_id | escape }}">
                        {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                            <div class="marquee_products__item_in">
                                {%- render 'product-card', product: block.settings, num: num -%}
                            </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if section.blocks.size > 1 %}
        <script type="module" src="{{ 'marquee-products.js' | asset_url }}"></script>
    {% endif %}
{% endif %}

{% schema %}
    {
        "name": "Marquee products",
        "class": "marquee_products js-marquee-products",
        "settings": [
            {
                "type": "header",
                "content": "Spacing"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding top mobile",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom mobile",
                "default": 30
            },
            {
                "type": "range",
                "id": "autoplay_speed",
                "min": 0,
                "max": 40,
                "step": 1,
                "label": "Autoplay speed",
                "default": 20
            },
            {
                "type": "header",
                "content": "Colors"
            },
            {
                "type": "color",
                "id": "section_bg_color",
                "label": "Background color",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text color",
                "default": "#000000"
            }
        ],
        "blocks": [
            {
                "name": "Product card",
                "type": "block",
                "settings": [
                    {
                        "type": "text",
                        "id": "product_id",
                        "label": "Product ID (from Fake Store API)"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Product Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Product Title"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Short Description",
                        "info": "Up to 120 characters"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Marquee products",
                "blocks": [
                        { "type": "block" },
                        { "type": "block" },
                        { "type": "block" },
                        { "type": "block" },
                        { "type": "block" },
                        { "type": "block" }
                    ]
            }
        ]
    }
{% endschema %}
